name: Publish Documentation
on:
  push:
    branches: [main]
    paths: ['docs/*']
  workflow_dispatch:
jobs:
  create-techdocs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Techdocs webhook
        uses: department-of-veterans-affairs/lighthouse-github-actions/.github/actions/techdocs-webhook@22.03.0
        with:
          repository: ${{ github.repository }}
          namespace: 'lighthouse-bandicoot'
          token: ${{ secrets.GHA_TOKEN }}